a {
    font-family: Bahnschrift, sans-serif;
    font-size: 30px;
  }
  h1 {
    font-family: Bahnschrift, sans-serif;
    font-size: 30px;
  }
  h2 {
    font-family: Bahnschrift, sans-serif;
    font-size: 30px;
  }
  h3 {
    font-family: Bahnschrift, sans-serif;
    font-size: 30px;
  }